<a href="https://colab.research.google.com/github/satishaaki/pyhton101/blob/main/A10_exploring_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists

* https://www.w3schools.com/python/python_ref_list.asp  (Python List Methods)
* https://www.w3schools.com/python/python_ref_functions.asp (Python Built-in Functions)

In [ ]:
#@title Lists: An Introduction

Data Type
List Type

In [1]:
#@title 1.Creating an empty list
x=[]
print(x)

[]

In [2]:
#@title 2.Creating a list with some elements
x=[1,2,3,"list"]
print(x)

[1, 2, 3, 'list']

In [3]:
#@title 3.Adding elements at the end
x=[1,2,3]
x.append(4)
print(x)

[1, 2, 3, 4]

In [4]:
#@title 4.Accessing an element (positive index)
# also known as "Reading an element"
# also known as "Setting an element"
x=[1,2,3,4,5]
print(x[1])

2

In [5]:
#@title 5.Accessing an element (through Negative Indexing)
# also known as "Reading an element"
# also known as "Setting an element"
x=[1,2,3,4,5]
print(x[-1])

5

In [6]:
#@title 6.Adding an element at the front of the list
x=[1,2,3,4,5]
x.insert(0,0)
print(x)

[0, 1, 2, 3, 4, 5]

In [7]:
#@title 7.Adding an element anywhere (at a specific index)
x=[1,2,3,4,5]
#inserting element at index 3
x.insert(3,35)
print(x)

[1, 2, 3, 35, 4, 5]

In [8]:
#@title 8.Updating (or Replacing) an element
x=[1,2,3,4,5]
x[0]=0
print(x)

[0, 2, 3, 4, 5]

In [9]:
#@title 9.Looping through the list (just for READING)
x=[1,2,3,4,5]
for i in x:
  print(i)

1
2
3
4
5

In [3]:
#@title 10.Looping through the list (for UPDATING)
x=[1,2,3,4,5,6]
length=len(x)
for i in range(length):
  x[i]=x[i]+10
print(x)

[11, 12, 13, 14, 15, 16]

In [4]:
#@title 11.Common Operations: Find the length of the list
# Find the number of elements in the list
x=[1,2,3,4,5,6]
length=0
for i in x:
  length=length+1
print("The lenght of the list:",length)

The lenght of the list: 6

In [5]:
#@title 12.Common Operations: Find the maximum in the list
x=[1,2,3,4,5,100]
print("Maximum of the list:",max(x))

Maximum of the list: 100

In [6]:
#@title 13.Common Operations: Find the minimum in the list
x=[100,5,200,240,109,190]
print("Minimum of the list:",min(x))

Minimum of the list: 5

In [8]:
#@title 14.Common Operations: Find the sum of elements in the list
x=[1,2,3,4,5,6]
sum=0
for i in range(len(x)):
  sum=sum+x[i]
print("Sum of elements list:",sum)

Sum of elements list: 21

In [9]:
#@title 14.Removing an element by value
x=[1,2,3,4,5,6]
x.remove(4)
print(x)

[1, 2, 3, 5, 6]

In [10]:
#@title 15.Removing the last element in the list
x=[1,2,3,4,5,6]
x.pop()
print(x)

[1, 2, 3, 4, 5]

In [11]:
#@title 16.Removing an element at a given index
x=[1,2,3,4,5,6]
x.pop(2)
print(x)

[1, 2, 4, 5, 6]

In [12]:
#@title 17.Extending a list
#(Adding several elements to one list)
x=[1,2,3,4,5,6]
y=[7,8,9,10]
x.extend(y)
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
#@title 18.Search for an element. What is the index?
x=[1,2,3,4,5,6,7]
print(x.index(4))

3

In [15]:
#@title 19.Count the number of times an element is appearing
x=[1,2,3,4,5,6,3,3,4]
print(x.count(3))
print(x.count(4))

3
2

In [17]:
#@title 20.Checking for Membership (in)
x=[1,2,3,4,5]
print(5 in x)
print(6 in x)

True
False

In [18]:
#@title 21.Checking for Membership (not in)
x=[1,2,3,4,5]
print(5 not in x)
print(6 not in x)

False
True

In [20]:
#@title 22.Reverse a list

x=[1,2,3,4,5]
x.reverse()
print(x)

[5, 4, 3, 2, 1]

In [21]:
#@title 23.Sort a list
x=[5,9,2,10,1]
x.sort()
print(x)

[1, 2, 5, 9, 10]

In [24]:
#@title 24.Copy a list (Caution: Don't reassign)
x=[1,2,3,4,5]
y=x.copy()
print(y)

[1, 2, 3, 4, 5]

In [25]:
#@title 25.Clear (Empty) a list
#Delete all the elements in the list
x=[1,2,3,4,5]
x.clear()
print(x)

[]

In [29]:
#@title 26.Delete the entire list
x=[1,2,3,4,5]
del()
print(x)

[1, 2, 3, 4, 5]

In [ ]:
#@title 27.Cool Operation: You can add lists

In [ ]:
#@title 28.Cool Operation: You can multiply/repeat a list

In [ ]:
#@title 29.Cool Operation: You can convert a range to a list

In [ ]:
#@title 30.Common Operations: Find the length (Using Built-in Function)

In [ ]:
#@title 31.Common Operations: Find the maximum in the list (Using Built-in Function)

In [ ]:
#@title 32.Common Operations: Find the minimum in the list (Using Built-in Function)

In [ ]:
#@title 33.Common Operations: Find the sum of elements in the list (Using Built-in Function)

In [ ]:
#@title 34.Common Operations: Find the average of elements in the list (Using Built-in Function)

In [ ]:
#@title 35.Common Operations: Find whether the list has any duplicate elements

In [ ]:
#@title 36.Common Operations: Multiply / Divide / Do something to every element in the list

In [ ]:
#@title 37.List Unpacking (N to <N mapping)

In [ ]:
#@title 38.List Unpacking (N to <N mapping)

In [ ]:
#@title 39.Printing a List (*)

In [ ]:
#@title 40.List Slicing

In [ ]:
#@title 41.List Comprehension

In [ ]:
#@title 42.Two Dimenstional Lists  (List of Lists)

In [ ]:
#@title 43.Zipping two or three lists

In [ ]:
#@title 44.Applying a map funciton on the lists